---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { PngParser } from "./PngParser";
---

<SiteLayout title="PNG ファイルを JS で読む">
  <h1>PNG ファイルを JS で読むんだ</h1>
  <PngParser client:visible />
</SiteLayout>
