---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { ViewTransition } from "./ViewTransition";
---

<SiteLayout title="View Transition API">
  <h1>ワオオアー</h1>
  <ViewTransition client:visible />
  <h2>めも</h2>
  <p>
    startTransition の間はページ全体がスクショになるので何も操作できない。
    ロードは事前に終わらせて、startTransition は一瞬で済ませよう。
  </p>
  <p>
    setState しても直ちに描画されないので待つ必要がある。 setTimeout(0)
    してるけど、もっと良い方法がないか？
  </p>
  <p>
    <code>view-transition-name</code> はアプリケーションで一意にする気持ちで名付けると良さそう。
    <var>クラス</var>-<var>ID</var>-<var>フィールド</var> で
    <code>post-123-title</code> みたいな。
  </p>
</SiteLayout>
