---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { ViewTransition2 } from "./_components/ViewTransition2";
---

<SiteLayout title="View Transition API">
  <h1>するりとならびかえ</h1>
  <ViewTransition2 client:load />
</SiteLayout>
./_components/ViewTransition2
