---
import Layout from "../layouts/SiteLayout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ふるごむ">
  <main>
    <h1>こんにちは</h1>

    <ul>
      <li><a href="/understand">Understand</a></li>
      <li><a href="/tunic">Tunic</a></li>
    </ul>
  </main>
</Layout>
